
<div class="search-bar">
        <div class="row">
          <div class="col-xl-11 mt-5 ml-5 mr-5">
            <h1 class="text-white">Find payment</h1>
          </div>
           <div class="col-xl-11 mt-5 ml-5 mr-5">
            <form>
              <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                  <span class="input-group-text purple lighten-3 mb-5"
                    for="search-bar"><i class="material-icons">description</i></span>
                </div>
                <input id="search-bar" type="text" class="form-control my-0 py-1" name="search-bar"
                 (input)="onSearchText($event)" placeholder="Search Bills" aria-label="Search">
              </div>
            </form>
          </div> 
        </div>
      </div> 
      
      